<!DOCTYPE html>
<html lang="uk">
<head>
	<meta charset="utf-8">
	<title>Math Trick</title>

    <style>
        body {
        background-color: #dfe6e9;
}
        h1 {
            font-family: Georgia;
	        font-weight: 100;
	        text-align: center;
	        margin: 100px
}

    </style>

</head>

<body>

    <form action = "http://localhost:5000/result" method = "POST">

        <h1><label>Дорогий учень, будь-ласка опиши, що в тебе виходить найкраще з математики: </label>

        <input type="text" name="studentText" value="">

            <p><label>Будь-ласка, введи(обери) свій клас: </label></p>

        <input type="number" name="studentClass" min="8" max="9" value="">

        <input type="submit" name=""></h1>

    </form>

<h2>

    <img style="margin:0 0 0 55px;" src="../static/q3.png">

    <img style="margin:0 30px 0 500px;"  src="../static/q1.png">

</h2>

</body>

</html>